<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<h1>File Uploader</h1>
<form id="upload-form" action="{{ url_for('upload') }}" method = "POST" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*"><br>

      <label for="n_sts">Number of Stitches:</label><br>
        <input type="number" id="n_sts" name="n_sts" value="50"><br>

    <label for="n_col">Number of Colours:</label><br>
    <input type="number" id="n_col" name="n_col" value="4"><br>

    <label for="n_sts">Row Gauge (10cm/4inch):</label><br>
    <input type="number" id="row_gauge" name="row_gauge" value="5"><br>

    <label for="n_col">Stitch Gauge (10cm/inch):</label><br>
    <input type="number" id="st_gauge" name="st_gauge" value="7"><br>

    <input type="submit" value="send">

</form>
</body>
</html>